---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

import NavBar from "../components/NavBar.astro";
import Hero from "../components/Hero.astro";
---

<Layout />

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <main>
      <NavBar />
      <Hero />
      <div class="bg-black h-dvh p-10">
        <h1 class="text-white font-bold text-5xl">Next Section</h1>
      </div>
    </main>
  </body>
</html>
